USE [master]
GO
/****** Object:  Database [MDKAReservasi]    Script Date: 3/9/2022 1:03:09 AM ******/
CREATE DATABASE [MDKAReservasi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MDKAReservasi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MDKAReservasi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MDKAReservasi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MDKAReservasi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MDKAReservasi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MDKAReservasi]
GO
/****** Object:  Table [dbo].[tblM_Ruangan]    Script Date: 3/9/2022 1:03:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblM_Ruangan](
	[Ruangan_PK] [int] IDENTITY(1,1) NOT NULL,
	[NamaRuangan] [nvarchar](200) NULL,
	[Lantai] [int] NULL,
	[DayaTampung] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[Status_FK] [int] NULL,
 CONSTRAINT [PK_tblM_Ruangan] PRIMARY KEY CLUSTERED 
(
	[Ruangan_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblM_Status]    Script Date: 3/9/2022 1:03:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblM_Status](
	[Status_PK] [int] IDENTITY(1,1) NOT NULL,
	[NamaStatus] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblM_Status] PRIMARY KEY CLUSTERED 
(
	[Status_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblT_Reservasi]    Script Date: 3/9/2022 1:03:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblT_Reservasi](
	[Reservasi_PK] [int] IDENTITY(1,1) NOT NULL,
	[Ruangan_FK] [int] NULL,
	[SubjectReservasi] [nvarchar](max) NULL,
	[TanggalReservasi] [date] NULL,
	[JamMulai] [time](7) NULL,
	[JamSelesai] [time](7) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblT_Reservasi] PRIMARY KEY CLUSTERED 
(
	[Reservasi_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblM_Ruangan]  WITH CHECK ADD  CONSTRAINT [FK_tblM_Ruangan_tblM_Status] FOREIGN KEY([Status_FK])
REFERENCES [dbo].[tblM_Status] ([Status_PK])
GO
ALTER TABLE [dbo].[tblM_Ruangan] CHECK CONSTRAINT [FK_tblM_Ruangan_tblM_Status]
GO
ALTER TABLE [dbo].[tblT_Reservasi]  WITH CHECK ADD  CONSTRAINT [FK_tblM_Ruangan_tblT_Reservasi] FOREIGN KEY([Ruangan_FK])
REFERENCES [dbo].[tblM_Ruangan] ([Ruangan_PK])
GO
ALTER TABLE [dbo].[tblT_Reservasi] CHECK CONSTRAINT [FK_tblM_Ruangan_tblT_Reservasi]
GO
USE [master]
GO
